@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
<div class="row">
 <div class="col-md-3">
	 @{Html.RenderPartial("Siblings");}
 </div>
 <div class="col-md-9">
	<div classs="row"> 
	 	<div class="col-md-3">
			@{
				if(Model.Content.HasValue("image"))
				{
					var imagePath = Model.Content.GetPropertyValue<string>("image");
					<img class="img-responsive" src="@Umbraco.Media(imagePath).Url" alt="@Umbraco.Media(imagePath).UrlName"/>
				}
			}
		</div>
		<div class="col-md-9">
			<h1>@Umbraco.Field("heading")</h1>
			@Umbraco.Field("mainContent")
		</div>
	</div>
 </div>
</div>