@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--9-col">
		@{Html.RenderPartial("homeWidget");}
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-grid">
			
		@{Html.RenderPartial("homeWidget");}

		@{Html.RenderPartial("homeWidget");}
		
		</div>
	</div>
</div>