@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "master.cshtml";
}
<div class="row">	
	<div class="col-xs-12">
		<h1>@Umbraco.Field("pageTitle")</h1>
   		<h2>@Umbraco.Field("pageDescription")</h2>
		@Html.GetGridHtml(Model.Content, "Grid")
  </div>
</div>