
h1,h2,h3,h4,h5,h6,p{
	margin-bottom:0.1em;
	margin-top:0.1em;
}
a{
	text-decoration:none;
	color:#2C3B42;
}
body {
    display: flex;
    height: 100%;
    flex-direction: column;
	background-color:rgb(249, 249, 249);
}
main{
	flex: 1;
}
header {
   /* position:fixed !important; */
}
.mdl-grid{
	padding:0;
}
.mdl-layout__content{
	display:flex !Important;
	flex-direction: column;
}
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.mdl-navigation .mdl-navigation__link{
	border-bottom: 3px solid transparent;
}
.current.mdl-navigation__link {
	border-bottom-color: #fff;
}
.mdl-layout__header, .mdl-mini-footer, .mdl-mega-footer{
	background-color: #2C3B42;
}
.test:hover{
	background-color: rgba(0,0,0,.1)
}
.breadcrumb{
	background-color:#445761;
}
.breadcrumb li{
	font-size:3em;
	list-style-type: none;
}
.feature {
   /* position: relative;*/
	padding-left:16px;
}
.feature_title {
    position: absolute;
    top:50%;
    /*background-color: rgba(0,0,0,0.5);*/
    width:100%
}
.feature_blurb {
    position: absolute;
    top:70%;
    /*background-color: rgba(0,0,0,0.5);*/
}