@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer class="mdl-mega-footer">
            <div class="mdl-mega-footer__top-section">
               <div class="mdl-mega-footer__left-section">
                  <button class="mdl-mega-footer__social-btn">1</button>
                  <button class="mdl-mega-footer__social-btn">2</button>
                  <button class="mdl-mega-footer__social-btn">3</button>
               </div>
               <div class="mdl-mega-footer__right-section">
                  <a href="">Link 1</a>
                  <a href="">Link 2</a>
                  <a href="">Link 3</a>
               </div>
            </div>
            <div class="mdl-mega-footer__middle-section">
               <div class="mdl-mega-footer__drop-down-section">
                  <h1 class="mdl-mega-footer__heading">Heading </h1>
                  <ul class="mdl-mega-footer__link-list">
                     <li><a href="">Link A</a></li>
                     <li><a href="">Link B</a></li>      
                  </ul>
               </div>  
               <div class="mdl-mega-footer__drop-down-section">
                  <h1 class="mdl-mega-footer__heading">Heading </h1>
                  <ul class="mdl-mega-footer__link-list">
                     <li><a href="">Link C</a></li>
                     <li><a href="">Link D</a></li>      
                  </ul>
               </div>  	
            </div>
            <div class="mdl-mega-footer__bottom-section">
               <div class="mdl-logo">
                  Bottom Section
               </div>
               <ul class="mdl-mega-footer__link-list">
                  <li><a href="">Link A</a></li>
                  <li><a href="">Link B</a></li>
               </ul>
            </div>
         </footer>