<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT comp ANY>
<!ATTLIST comp id ID #REQUIRED>
<!ELEMENT base ANY>
<!ATTLIST base id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="63b50f51-d210-41ac-99da-1e76b7fcdfeb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-09-15T09:49:05" updateDate="2016-11-01T12:03:59" nodeName="home" urlName="home" path="-1,1062" isDoc="" nodeType="1060" creatorName="5040647" writerName="5040647" writerID="0" template="1059" nodeTypeAlias="home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoSitemapHide>0</umbracoSitemapHide>
    <pageTitle><![CDATA[home page]]></pageTitle>
    <pageDescription><![CDATA[home page]]></pageDescription>
    <page id="1066" key="f43a8358-444d-483e-9bd9-234888bdddb1" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2016-10-19T10:43:07" updateDate="2016-11-01T12:01:39" nodeName="About" urlName="about" path="-1,1062,1066" isDoc="" nodeType="1063" creatorName="5040647" writerName="5040647" writerID="0" template="1065" nodeTypeAlias="page">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[About the SCC]]></pageTitle>
      <pageDescription><![CDATA[SCC page description]]></pageDescription>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Page Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Page one output Page one</p>\n<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "55f583fe-8071-3302-2236-c84740a6362e"
        }
      ]
    }
  ]
}]]></grid>
    </page>
    <page id="1070" key="8f02acd1-03de-4d1f-9396-09aaec156a91" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2016-10-20T11:23:45" updateDate="2016-11-01T12:02:04" nodeName="Departments" urlName="departments" path="-1,1062,1070" isDoc="" nodeType="1063" creatorName="5040647" writerName="5040647" writerID="0" template="1065" nodeTypeAlias="page">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[Departments]]></pageTitle>
      <pageDescription><![CDATA[Departments description]]></pageDescription>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Page Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Page Two output</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "8d35faf1-ae4a-f1ce-6dfc-ae3b990efc5f"
        },
        {
          "name": "2 cell layout",
          "areas": [
            {
              "grid": 6,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1072,
                    "image": "/media/1002/nyc2.jpg",
                    "altText": "Shelby GT500",
                    "caption": "Blue car"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "472503ed-cafb-fe30-8e2a-9f6c3f52eac1"
        },
        {
          "name": "2 cell layout",
          "areas": [
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1071,
                    "image": "/media/1001/nyc1.jpg",
                    "altText": "new york"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "30a08fe1-513a-6868-56ce-066474dee3a9"
        }
      ]
    }
  ]
}]]></grid>
      <pageRTE><![CDATA[<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>]]></pageRTE>
    </page>
    <page id="1076" key="eaa32ddd-da9a-4445-9ae8-4469cadc593b" parentID="1062" level="2" creatorID="0" sortOrder="2" createDate="2016-10-25T11:30:26" updateDate="2016-11-01T12:02:27" nodeName="My Workplace" urlName="my-workplace" path="-1,1062,1076" isDoc="" nodeType="1063" creatorName="5040647" writerName="5040647" writerID="0" template="1065" nodeTypeAlias="page">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[My Workplace]]></pageTitle>
      <pageDescription><![CDATA[My Workplace description]]></pageDescription>
      <grid><![CDATA[{
  "name": "2 column layout",
  "sections": [
    {
      "grid": 6,
      "rows": [
        {
          "name": "Page Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "allowed": [
                "rte"
              ],
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": "Page Three Headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "section"
          },
          "hasConfig": true,
          "id": "d2a6f915-8263-8017-6558-9785325bd528"
        },
        {
          "name": "2 cell layout",
          "areas": [
            {
              "grid": 6,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1071,
                    "image": "/media/1001/nyc1.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "section"
          },
          "hasConfig": true,
          "id": "7c61a54c-031b-9fbb-72ad-c928095c1011"
        }
      ]
    },
    {
      "grid": 6,
      "rows": [
        {
          "name": "Page Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1072,
                    "image": "/media/1002/nyc2.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "section"
          },
          "hasConfig": true,
          "id": "789d7fa1-ba63-ae47-f52f-ece0fd0e77bd"
        },
        {
          "name": "2 cell layout",
          "areas": [
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1072,
                    "image": "/media/1002/nyc2.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "section"
          },
          "hasConfig": true,
          "id": "6fc8958d-a5ea-8fae-dea8-4023ba0737e5"
        }
      ]
    }
  ]
}]]></grid>
    </page>
    <comp id="1078" key="9c077de2-f42f-46c5-860f-0ceed5e6e921" parentID="1062" level="2" creatorID="0" sortOrder="3" createDate="2016-10-25T14:45:05" updateDate="2016-11-01T12:02:56" nodeName="News and Events" urlName="news-and-events" path="-1,1062,1078" isDoc="" nodeType="1075" creatorName="5040647" writerName="5040647" writerID="0" template="1074" nodeTypeAlias="comp">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[News & Events]]></pageTitle>
      <pageDescription><![CDATA[News & Events description]]></pageDescription>
      <image><![CDATA[1071]]></image>
    </comp>
    <page id="1079" key="770f60a9-af98-411b-a669-b72bea478f84" parentID="1062" level="2" creatorID="0" sortOrder="4" createDate="2016-11-01T09:37:43" updateDate="2016-11-01T12:03:46" nodeName="Search" urlName="search" path="-1,1062,1079" isDoc="" nodeType="1063" creatorName="5040647" writerName="5040647" writerID="0" template="1065" nodeTypeAlias="page">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageTitle><![CDATA[Search]]></pageTitle>
      <pageDescription><![CDATA[Search description]]></pageDescription>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "2 cell layout",
          "areas": [
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1071,
                    "image": "/media/1001/nyc1.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "85e0ad96-570d-b662-ae0b-9d5ed74f6103"
        }
      ]
    }
  ]
}]]></grid>
    </page>
  </home>
</root>