<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT newsArticle ANY>
<!ATTLIST newsArticle id ID #REQUIRED>
<!ELEMENT branch ANY>
<!ATTLIST branch id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT umbracoSettings ANY>
<!ATTLIST umbracoSettings id ID #REQUIRED>
]>
<root id="-1">
  <home id="1097" key="9342be2d-8c76-410a-9e0d-38e05764cf83" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-07T11:44:03" updateDate="2016-11-15T15:06:09" nodeName="home" urlName="home" path="-1,1097" isDoc="" nodeType="1095" creatorName="5040647" writerName="5040647" writerID="0" template="1096" nodeTypeAlias="home">
    <metaDescription><![CDATA[home page meta description]]></metaDescription>
    <metaTitle><![CDATA[home page meta title]]></metaTitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoSitemapHide>0</umbracoSitemapHide>
    <siteName><![CDATA[SCC Intranet]]></siteName>
    <branch id="1117" key="b4dcc330-755b-441a-b94c-02ec83e400f2" parentID="1097" level="2" creatorID="0" sortOrder="0" createDate="2016-11-09T11:28:01" updateDate="2016-11-15T15:55:12" nodeName="About" urlName="about" path="-1,1097,1117" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1195" nodeTypeAlias="branch">
      <metaDescription><![CDATA[About]]></metaDescription>
      <metaTitle><![CDATA[About]]></metaTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <heading><![CDATA[About]]></heading>
      <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      <links><![CDATA[[
  {
    "caption": "home",
    "link": 1097,
    "newWindow": false,
    "internal": 1097,
    "edit": false,
    "isInternal": true,
    "internalName": "home",
    "internalIcon": "icon-home",
    "type": "internal",
    "title": "home"
  }
]]]></links>
      <image><![CDATA[1126]]></image>
      <branch id="1139" key="9cc40428-8db8-4649-b26d-598833d8510f" parentID="1117" level="3" creatorID="0" sortOrder="0" createDate="2016-11-09T14:38:15" updateDate="2016-11-09T14:45:45" nodeName="Board" urlName="board" path="-1,1097,1117,1139" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
        <metaDescription><![CDATA[Board]]></metaDescription>
        <metaTitle><![CDATA[Board]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[Board]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
        <image><![CDATA[1140]]></image>
        <page id="1141" key="a53b638c-35e2-4a93-b053-06cf3043c3c4" parentID="1139" level="4" creatorID="0" sortOrder="0" createDate="2016-11-09T14:47:00" updateDate="2016-11-09T14:56:03" nodeName="Bill Gates" urlName="bill-gates" path="-1,1097,1117,1139,1141" isDoc="" nodeType="1102" creatorName="5040647" writerName="5040647" writerID="0" template="1103" nodeTypeAlias="page">
          <metaDescription><![CDATA[Bill Gates]]></metaDescription>
          <metaTitle><![CDATA[Bill Gates]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[Bill Gates]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1106]]></image>
        </page>
        <page id="1142" key="0b17f81f-14eb-4b8d-9959-b802fd35bf7c" parentID="1139" level="4" creatorID="0" sortOrder="1" createDate="2016-11-09T14:56:54" updateDate="2016-11-09T14:56:54" nodeName="Steve Jobs" urlName="steve-jobs" path="-1,1097,1117,1139,1142" isDoc="" nodeType="1102" creatorName="5040647" writerName="5040647" writerID="0" template="1103" nodeTypeAlias="page">
          <metaDescription><![CDATA[Steve Jobs]]></metaDescription>
          <metaTitle><![CDATA[Steve Jobs]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[Steve Jobs]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1132]]></image>
        </page>
        <page id="1143" key="17b5950a-4c89-498c-8bf7-176e77f058e4" parentID="1139" level="4" creatorID="0" sortOrder="2" createDate="2016-11-09T14:57:27" updateDate="2016-11-09T14:57:27" nodeName="Jack Dory" urlName="jack-dory" path="-1,1097,1117,1139,1143" isDoc="" nodeType="1102" creatorName="5040647" writerName="5040647" writerID="0" template="1103" nodeTypeAlias="page">
          <metaDescription><![CDATA[Jack Dory]]></metaDescription>
          <metaTitle><![CDATA[Jack Dory]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[Jack Dory]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1108]]></image>
        </page>
        <page id="1144" key="fae8ddbc-3593-420f-a424-1d87b01dea3d" parentID="1139" level="4" creatorID="0" sortOrder="3" createDate="2016-11-09T15:00:16" updateDate="2016-11-09T15:00:16" nodeName="Mark Zuckerberg" urlName="mark-zuckerberg" path="-1,1097,1117,1139,1144" isDoc="" nodeType="1102" creatorName="5040647" writerName="5040647" writerID="0" template="1103" nodeTypeAlias="page">
          <metaDescription><![CDATA[Mark Zuckerberg]]></metaDescription>
          <metaTitle><![CDATA[Mark Zuckerberg]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[Mark Zuckerberg]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1131]]></image>
        </page>
      </branch>
      <branch id="1148" key="c5d9c258-dc5b-4ec1-9faa-d568eec2e9c6" parentID="1117" level="3" creatorID="0" sortOrder="2" createDate="2016-11-09T15:27:28" updateDate="2016-11-10T14:38:12" nodeName="Partners" urlName="partners" path="-1,1097,1117,1148" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
        <metaDescription><![CDATA[Partners]]></metaDescription>
        <metaTitle><![CDATA[Partners]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[Partners]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
        <dropdownPartners><![CDATA[PS]]></dropdownPartners>
        <image><![CDATA[1149]]></image>
        <branch id="1187" key="dcabb4bd-163d-4bae-9d31-7e0ebf34139e" parentID="1148" level="4" creatorID="0" sortOrder="0" createDate="2016-11-14T15:22:11" updateDate="2016-11-14T15:56:15" nodeName="NCA" urlName="nca" path="-1,1097,1117,1148,1187" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
          <metaDescription><![CDATA[NCA]]></metaDescription>
          <metaTitle><![CDATA[ NCA]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[ NCA]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1190]]></image>
        </branch>
        <branch id="1188" key="e5d818b5-35c7-4c22-9865-a4a5035c8f50" parentID="1148" level="4" creatorID="0" sortOrder="1" createDate="2016-11-14T15:22:39" updateDate="2016-11-14T15:56:27" nodeName="SPA" urlName="spa" path="-1,1097,1117,1148,1188" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
          <metaDescription><![CDATA[SPA]]></metaDescription>
          <metaTitle><![CDATA[SPA]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[SPA]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1191]]></image>
        </branch>
        <branch id="1189" key="cd52f268-5c63-428f-8571-969f8b250861" parentID="1148" level="4" creatorID="0" sortOrder="2" createDate="2016-11-14T15:23:53" updateDate="2016-11-14T15:56:35" nodeName="COPFS" urlName="copfs" path="-1,1097,1117,1148,1189" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
          <metaDescription><![CDATA[COPFS]]></metaDescription>
          <metaTitle><![CDATA[COPFS]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[COPFS]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1192]]></image>
        </branch>
      </branch>
    </branch>
    <branch id="1118" key="0f1a9c2c-9a37-4616-a448-b160226d5b03" parentID="1097" level="2" creatorID="0" sortOrder="1" createDate="2016-11-09T11:28:31" updateDate="2016-11-15T15:14:44" nodeName="Departments" urlName="departments" path="-1,1097,1118" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1195" nodeTypeAlias="branch">
      <metaDescription><![CDATA[Departments]]></metaDescription>
      <metaTitle><![CDATA[Departments]]></metaTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <heading><![CDATA[Departments]]></heading>
      <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      <links><![CDATA[[
  {
    "caption": "home",
    "link": 1097,
    "newWindow": false,
    "internal": 1097,
    "edit": false,
    "isInternal": true,
    "internalName": "home",
    "internalIcon": "icon-home",
    "type": "internal",
    "title": "home"
  }
]]]></links>
      <image><![CDATA[1133]]></image>
    </branch>
    <branch id="1119" key="487e4eea-663e-4aed-90cb-a36f9943d2c6" parentID="1097" level="2" creatorID="0" sortOrder="2" createDate="2016-11-09T11:29:01" updateDate="2016-11-09T13:21:57" nodeName="Workplace" urlName="workplace" path="-1,1097,1119" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
      <metaDescription><![CDATA[Workplace]]></metaDescription>
      <metaTitle><![CDATA[Workplace]]></metaTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <heading><![CDATA[Workplace]]></heading>
      <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      <image><![CDATA[1128]]></image>
      <branch id="1158" key="94938fba-d532-44f0-ba05-75e58f3f124a" parentID="1119" level="3" creatorID="0" sortOrder="0" createDate="2016-11-10T13:46:58" updateDate="2016-11-10T13:46:58" nodeName="Polices" urlName="polices" path="-1,1097,1119,1158" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
        <metaDescription><![CDATA[Polices]]></metaDescription>
        <metaTitle><![CDATA[Polices]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[Polices]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      </branch>
      <page id="1159" key="d6b3cc64-a16c-4cb3-8d84-ff5ce752bdbe" parentID="1119" level="3" creatorID="0" sortOrder="1" createDate="2016-11-10T13:47:55" updateDate="2016-11-10T13:49:06" nodeName="Protocols" urlName="protocols" path="-1,1097,1119,1159" isDoc="" nodeType="1102" creatorName="5040647" writerName="5040647" writerID="0" template="1103" nodeTypeAlias="page">
        <metaDescription><![CDATA[Protocols]]></metaDescription>
        <metaTitle><![CDATA[Protocols]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[Protocols]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      </page>
    </branch>
    <branch id="1120" key="7f81967c-3de4-4236-bea1-7e07e985eb84" parentID="1097" level="2" creatorID="0" sortOrder="3" createDate="2016-11-09T11:32:30" updateDate="2016-11-10T15:19:33" nodeName="News" urlName="news" path="-1,1097,1120" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1170" nodeTypeAlias="branch">
      <metaDescription><![CDATA[News]]></metaDescription>
      <metaTitle><![CDATA[News]]></metaTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <heading><![CDATA[News]]></heading>
      <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      <image><![CDATA[1136]]></image>
      <branch id="1169" key="8fa2c3b4-fc50-43e0-a631-48df48e3b0e8" parentID="1120" level="3" creatorID="0" sortOrder="1" createDate="2016-11-10T14:56:16" updateDate="2016-11-11T15:45:41" nodeName="2016" urlName="2016" path="-1,1097,1120,1169" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
        <metaDescription><![CDATA[2016]]></metaDescription>
        <metaTitle><![CDATA[2016]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[2016]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
        <branch id="1193" key="1f0e23d8-17d4-46a3-9844-0e0f75f88aa7" parentID="1169" level="4" creatorID="0" sortOrder="6" createDate="2016-11-15T10:19:50" updateDate="2016-11-15T10:21:01" nodeName="January" urlName="january" path="-1,1097,1120,1169,1193" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
          <metaDescription><![CDATA[January]]></metaDescription>
          <metaTitle><![CDATA[January]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[January]]></heading>
          <mainContent><![CDATA[<p>January News</p>]]></mainContent>
          <newsArticle id="1166" key="9fef50b2-aa9c-4d03-be2f-a3d83406ebf7" parentID="1193" level="5" creatorID="0" sortOrder="1" createDate="2016-11-10T14:45:23" updateDate="2016-11-15T10:20:46" nodeName="Cafe Open" urlName="cafe-open" path="-1,1097,1120,1169,1193,1166" isDoc="" nodeType="1162" creatorName="5040647" writerName="5040647" writerID="0" template="1163" nodeTypeAlias="newsArticle">
            <metaDescription><![CDATA[Cafe Open]]></metaDescription>
            <metaTitle><![CDATA[Cafe Open]]></metaTitle>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoSitemapHide>0</umbracoSitemapHide>
            <heading><![CDATA[Cafe Open]]></heading>
            <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>]]></mainContent>
            <part><![CDATA[SPA]]></part>
            <dropdownPartners><![CDATA[SPA]]></dropdownPartners>
            <image><![CDATA[1167]]></image>
          </newsArticle>
          <newsArticle id="1183" key="4e4561f1-b71c-4b14-b72b-4c2bf03fdf43" parentID="1193" level="5" creatorID="0" sortOrder="2" createDate="2016-11-11T11:41:55" updateDate="2016-11-15T10:20:59" nodeName="news3" urlName="news3" path="-1,1097,1120,1169,1193,1183" isDoc="" nodeType="1162" creatorName="5040647" writerName="5040647" writerID="0" template="1163" nodeTypeAlias="newsArticle">
            <metaDescription><![CDATA[news3]]></metaDescription>
            <metaTitle><![CDATA[news3]]></metaTitle>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoSitemapHide>0</umbracoSitemapHide>
            <heading><![CDATA[news3]]></heading>
            <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
            <image><![CDATA[1173]]></image>
          </newsArticle>
        </branch>
        <branch id="1194" key="3d97c2b2-be2c-4aa5-b7e3-66c446f092f7" parentID="1169" level="4" creatorID="0" sortOrder="7" createDate="2016-11-15T10:22:15" updateDate="2016-11-15T10:22:55" nodeName="February" urlName="february" path="-1,1097,1120,1169,1194" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
          <metaDescription><![CDATA[February]]></metaDescription>
          <metaTitle><![CDATA[February]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[February]]></heading>
          <mainContent><![CDATA[<p>February News</p>]]></mainContent>
          <newsArticle id="1184" key="eeafb023-a09f-40fb-a167-f7af1c8a8264" parentID="1194" level="5" creatorID="0" sortOrder="1" createDate="2016-11-11T11:42:21" updateDate="2016-11-15T10:22:33" nodeName="news4" urlName="news4" path="-1,1097,1120,1169,1194,1184" isDoc="" nodeType="1162" creatorName="5040647" writerName="5040647" writerID="0" template="1163" nodeTypeAlias="newsArticle">
            <metaDescription><![CDATA[news4]]></metaDescription>
            <metaTitle><![CDATA[news4]]></metaTitle>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoSitemapHide>0</umbracoSitemapHide>
            <heading><![CDATA[news4]]></heading>
            <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
            <image><![CDATA[1174]]></image>
          </newsArticle>
          <newsArticle id="1185" key="3d70136b-4990-4358-a4d9-ddf3754c9fff" parentID="1194" level="5" creatorID="0" sortOrder="2" createDate="2016-11-11T11:53:58" updateDate="2016-11-15T10:22:51" nodeName="news5" urlName="news5" path="-1,1097,1120,1169,1194,1185" isDoc="" nodeType="1162" creatorName="5040647" writerName="5040647" writerID="0" template="1163" nodeTypeAlias="newsArticle">
            <metaDescription><![CDATA[news5]]></metaDescription>
            <metaTitle><![CDATA[news5]]></metaTitle>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoSitemapHide>0</umbracoSitemapHide>
            <heading><![CDATA[news5]]></heading>
            <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
            <image><![CDATA[1175]]></image>
          </newsArticle>
        </branch>
      </branch>
      <branch id="1186" key="f905e66f-addc-4114-9cc1-c18b3aa1852a" parentID="1120" level="3" creatorID="0" sortOrder="2" createDate="2016-11-11T11:59:18" updateDate="2016-11-11T12:00:02" nodeName="2015" urlName="2015" path="-1,1097,1120,1186" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
        <metaDescription><![CDATA[2015]]></metaDescription>
        <metaTitle><![CDATA[2015]]></metaTitle>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoSitemapHide>0</umbracoSitemapHide>
        <heading><![CDATA[2015]]></heading>
        <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
        <newsArticle id="1182" key="493aa954-5fc0-4896-aaf9-63dc5cad2e48" parentID="1186" level="4" creatorID="0" sortOrder="1" createDate="2016-11-11T11:41:26" updateDate="2016-11-11T11:59:34" nodeName="news2" urlName="news2" path="-1,1097,1120,1186,1182" isDoc="" nodeType="1162" creatorName="5040647" writerName="5040647" writerID="0" template="1163" nodeTypeAlias="newsArticle">
          <metaDescription><![CDATA[news2]]></metaDescription>
          <metaTitle><![CDATA[news2]]></metaTitle>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoSitemapHide>0</umbracoSitemapHide>
          <heading><![CDATA[news2]]></heading>
          <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
          <image><![CDATA[1172]]></image>
        </newsArticle>
      </branch>
    </branch>
    <branch id="1121" key="3b63ed6e-1597-4f49-a1a2-c03200321661" parentID="1097" level="2" creatorID="0" sortOrder="4" createDate="2016-11-09T11:32:59" updateDate="2016-11-09T13:48:44" nodeName="Events" urlName="events" path="-1,1097,1121" isDoc="" nodeType="1110" creatorName="5040647" writerName="5040647" writerID="0" template="1116" nodeTypeAlias="branch">
      <metaDescription><![CDATA[Events]]></metaDescription>
      <metaTitle><![CDATA[Events]]></metaTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <heading><![CDATA[Events]]></heading>
      <mainContent><![CDATA[<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>]]></mainContent>
      <image><![CDATA[1138]]></image>
    </branch>
  </home>
</root>